.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px;
   gap: 20px;
   flex-wrap: wrap;

   @media (max-width: 575px) {
      justify-content: center;
   }
}

.header__logo img {
   width: 70px;
}