main
   .container
      .movies
         //- .movie
            //- .movie__cover-inner
            //-    img.movie__cover(src=require("../../images/mortal.webp"), alt="Film")
            //-    .movie__cover--darkened
            //- .movie__info
            //-    .movie__title Mortal Combat
            //-    .movie__category Fantasy
            //-    .movie__average.movie__average--green 9
      .modal
